<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="estilos/style.css">
</head>
<body>
    <header>
        <h1>Estilo Joyas</h1>
        <div class="logo">
            <img src="imagenes/logo_leon.jpg" alt="Logo de la empresa">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productosJoyeria.html">Producto</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Contáctenos</h2>
            <div class="mapa">
                <img src="imagenes/localizacion.png" alt="Mapa de ubicacion de la empresa">
                <button class="ubicacion-button">Cómo llegar</button>
            </div>
            <div class="datos-empresa">
                <h3>Datos de la empresa</h3>
                <p>Estilo Joyas</p>
                <p>Direccion: C/ Av. Principal, carretera Cadiz, Malága, España</p>
                <p>Teléfono: +34 123-456-789</p>
                <p>Email: info@estilojoyas.com</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes-sociales">
            <a href="https://wwww.facebook.com"><img src="iconos_redesSociales/social_facebook_fb_35.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="iconos_redesSociales/social_instagram_3.png" alt="Instagram"></a>
            <a href="https://www.tritter.com"><img src="iconos_redesSociales/social_Twitter_38.png" alt="Twitter"></a>
        </div>
        <div class="direccion">
            C/ Av. Principal, carretera Cadiz, Malága, España
        </div>
        <div class="aviso-legal">
            Aviso legal: Todos los derechos de usuario reservados &copy; 2023:
        </div>
    </footer>
</body>
</html>

<!--La página es el sitio web de una empresa llamada "Estilo Joyas". En el encabezado, se muestra
    el nombre de la empresa y su logotipo. También hay un menú de navegación con enlaces a las diferentes
    secciones del sitio: "Inicio", "Productos", "Presupuesto" y "Contacto". -->
<!--En la sección principal de la página, se encuentra un formulario de contacto donde los usuarios pueden
    enviar una solicitud de presupuesto. También se muestra un mapa de ubicación de la empresa y los datos 
    de contacto, como el nombre de la empresa, la dirección, el teléfono y el correo electrónico. -->
<!--En el pie de página, se encuentran los logotipos de las redes sociales de la empresa, como Facebook,
    Instagram y Twitter. Además, se muestra la dirección de la empresa y un aviso legal relacionado
    con la protección de datos. -->