<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="estilos/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="imagenes/logo_leon.jpg" alt="logo de la empresa">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productosJoyeria.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Solicitud de presupuesto</h2>
            <form action="enviar_presupuesto.php" method="POST">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

                <label for="producto">Producto:</label>
                <input type="text" id="producto" name="producto" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

                <label for="comentarios">Descripción:</label>
                <textarea id="comentarios" name="comentarios"></textarea>

                <input type="checkbox" id="politica" name="politica" required>
                <label for="politica">Acepto la política de privacidad</label>

                <input type="submit" value="Enviar">
            </form>
        </section>
    </main>
    <footer>
        <div class="redes-sociales">
            <a href="https://wwww.facebook.com"><img src="iconos_redesSociales/social_facebook_fb_35.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="iconos_redesSociales/social_instagram_3.png" alt="Instagram"></a>
            <a href="https://www.tritter.com"><img src="iconos_redesSociales/social_Twitter_38.png" alt="Twitter"></a>
        </div>
        <div class="direccion">
            C/ Av. Principal, carretera Cadiz, Malága, España
        </div>
        <div class="aviso-legal">
            Aviso legal:: Todos los derechos de usuario reservados &copy; 2023:
        </div>
    </footer>
</body>
</html>